@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;600&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.projectcontainer{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin:200px 0;
    align-items: center;
}
.projectcontainer>h1{
    padding-bottom: 15px;
    margin-top: 150px;
}
.projectcontainer>p{
    padding-bottom: 20px;
}
.projectcontainer__projects{
    display: flex;
    width: 60vw;
    margin-top: 50px;
    flex-wrap: wrap;
}
.projectcontainer__projects {
    display: flex;
    width: 90%; /* Increase width for mobile */
    max-width: 1200px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center; /* Center the project cards */
}

/* Adjust individual card size for small screens */
@media (max-width: 480px) {
    .project, .project > img {
        width: 100%; /* Card takes full width of screen */
        height: auto;
    }
}