@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;600&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.skillcontainer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 200px 0;
}
.skillcontainer__text{
    color: white;
    flex: 0.5;
    text-align: left;max-width: 500px;
    margin-bottom: 20px;
    margin-top: 250px;
}
.skillcontainer__text>h5{
    font-size: 30px;
    margin-top: 0;
}
.skillcontainer__image{
    flex: 0.5;
    text-align: center;
    margin-right: 100px;
}
.skillcontainer__image>img{
    width: 100%;
    border-radius: 3px;
    object-fit: contain;
    height:900px ;
}
.skillcontainer__skillset>h5{
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    padding-bottom: 30px;
    padding-top: 5px;
    margin-bottom: 0;
    height: 0;
    margin-top: 0;

}
.skillcontainer__slider > .MuiLinearProgress-root {
  background-color: rgb(88, 88, 88); 
}

.skillcontainer__slider1 > .MuiLinearProgress-root .MuiLinearProgress-bar {
  background-color: green;
}
.skillcontainer__slider2 > .MuiLinearProgress-root .MuiLinearProgress-bar {
  background-color: greenyellow; 
}
.skillcontainer__slider3 > .MuiLinearProgress-root .MuiLinearProgress-bar {
  background-color: greenyellow; 
}
.skillcontainer__slider4 > .MuiLinearProgress-root .MuiLinearProgress-bar {
  background-color: greenyellow; 
}
.skillcontainer__slider5 > .MuiLinearProgress-root .MuiLinearProgress-bar {
  background-color: greenyellow; 
}
.skillcontainer__slider6 > .MuiLinearProgress-root .MuiLinearProgress-bar {
  background-color: greenyellow; 
}
.skillcontainer__slider7 > .MuiLinearProgress-root .MuiLinearProgress-bar {
  background-color: gold; 
}
.skillcontainer__slider8 > .MuiLinearProgress-root .MuiLinearProgress-bar {
  background-color: gold; 
}
